acstore==20240407
adblockparser==0.7
aiodns==4.0.0
aiofiles==25.1.0
aiogram==3.31.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioquic==1.2.0
aiosignal==1.4.0
aiosqlite==0.21.0
altair==6.2.2
amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
artifacts==20230928
asgiref==3.11.1
asn1crypto==1.5.1
asteval==1.0.6
async-timeout==5.0.1
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
backports.zstd==1.3.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
billiard==4.2.4
binwalk==2.4.3
blackduck==1.1.0
bleach==6.3.0
blinker==1.9.0
blosc==1.11.2
boto3==1.40.72
botocore==1.40.72
Bottleneck==1.4.2
Brlapi==0.8.8
Brotli==1.2.0
browser-cookie3==0.20.1
cachetools==7.0.1
capstone==5.0.7
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
cfscrape==1.9.5
chardet==5.2.0
charset-normalizer==3.4.4
cheroot==11.1.2+ds1
CherryPy==18.10.0
cherrypy-cors==1.6
click==8.1.8
click-didyoumean==0.3.1
click-repl==0.3.0
cloudpickle==3.1.2
cloudscraper==1.2.71
colorama==0.4.6
contourpy==1.3.3
coreapi==2.3.3
coreschema==0.0.4
cpe==1.2.1
cryptography==46.0.6
cssselect==1.4.0
cupshelpers==1.0
cvss==3.2
cycler==0.12.1
dasbus==1.7
dask==2024.12.1+dfsg
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dfdatetime==20251018
dfvfs==20251019
dfwinreg==20240316
distorm3==3.5.2
distributed==2024.12.1
distro==1.9.0
Django==4.2.30
django-appconf==1.2.0
django-auditlog==0.0.0
django-crispy-forms==2.6
django-crum==0.7.9.dev0
django-dbbackup==4.2.1
django-environ==0.12.0
django-extensions==4.1
django-extra-views==0.14.0
django-fieldsignals==0.7.0
django-filter==25.1
django-guardian==2.4.0
django-imagekit==6.1.0
django-multiselectfield==0.1.12
django-polymorphic==4.10.2
django-ratelimit==4.1.0
django-split-settings==1.3.2
django-tagging==0.5.0
django-tagulous==1.3.3
django-watson==1.6.2
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework-guardian==0.4.0
dnspython==2.8.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2026.4.1
drf-yasg==1.21.15
dropbox==12.0.2
dsinternals==1.2.4
dtfabric==20251118
duckpy==3.2.0
easygui==0.98.3
elastic-transport==9.2.1
elasticsearch==9.3.0
email_validator==2.2.0
ephem==4.2.1
et_xmlfile==2.0.0
ExifRead==3.0.0
fastapi==0.118.0
fastjsonschema==2.21.1
feedparser==6.0.12
Flask==3.1.2
Flor==1.1.3
fonttools==4.62.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.12.0
GDAL==3.12.3
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.25.1
google-api-python-client==2.193.0
google-auth==2.48.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.66.0
gpg==2.0.0
greenlet==3.3.2
grokevt==0.5
groq==1.7.0
gssapi==1.11.1
gunicorn==25.1.0
h11==0.16.0
h2==4.3.0
hpack==4.0.0
html2text==2025.4.15
html5lib-modern==1.2
httpagentparser==1.9.1
httpcore==1.0.9
httpcore2==2.12.0
httplib2==0.31.2
httptools==0.8.0
httpx==0.28.1
httpx2==2.12.0
httpx_ntlm==1.4.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.19
impacket==0.14.0.dev0
importlib_metadata==9.0.0
inflect==7.5.0
inflection==0.3.1
iniconfig==2.1.0
invoke==2.2.1
ipwhois==1.3.0
isoduration==20.11.0
itsdangerous==2.2.0
itypes==1.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
Jinja2==3.1.6
jira==3.10.5
jiter==0.16.0
jmespath==1.0.1
joblib==1.5.2
JSON-log-formatter==1.1.1
jsonpointer==2.4
jsonschema==4.26.0
jsonschema-specifications==2023.12.1
jupyter_core==5.9.1
kaitaistruct==0.11
kali-tweaks==2025.4.0
kiwisolver==1.4.10rc0
kombu==5.6.2
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
ldap3==2.9.1
ldapdomaindump==0.9.4
legacy-cgi==2.6.4
libarchive-c==5.1
libvmdk-python==20240510
lightdm-gtk-greeter-settings==1.2.3
linkify-it-py==2.1.0
llvmlite==0.46.0
lml==0.1.0
locket==1.0.0
louis==3.37.0
lxml==6.0.2
lz4==4.4.5+dfsg
magic-filter==1.0.12
Mako==1.3.10.dev0
Markdown==3.10.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
maryam==2.5.2.post2
matplotlib==3.10.7+dfsg1
mdurl==0.1.2
mechanize==0.4.10
mitmproxy==12.2.2
more-itertools==10.8.0
mpmath==1.4.1
msgpack==1.1.2
multidict==6.4.3
narwhals==2.25.0
nbformat==5.10.4
netaddr==1.3.0
netifaces==0.11.0
networkx==3.4.2
numba==0.63.1
numexpr==2.14.1
numpy==2.3.5
oauthlib==3.3.1
odfpy==1.4.2
olefile==0.47
onboard==1.4.4.post3
openai==3.10.0
openpyxl==3.1.5
osrframework==0.20.5
packageurl-python==0.17.6
packaging==25.0
pandas==2.3.3
paramiko==4.0.0
partd==1.4.2
pcapy==0.11.5.dev0
pefile==2024.8.26
pexpect==4.9.0
phonenumbers==8.12.57
pilkit==3.0
pillow==12.1.1
plaso==20260119
platformdirs==4.9.4
playwright==1.55.0+ds
plotly==5.20.0
pluggy==1.6.0
ply==3.11
pooch==1.9.0
portend==3.2.0
prompt_toolkit==3.0.52
propcache==0.3.1
proto-plus==1.27.1
protobuf==7.36.1
psutil==7.1.0
psycopg2==2.9.11
ptyprocess==0.7.0
publicsuffix2==2.20191221
publicsuffixlist==0.9.3
py-cpuinfo==9.0.0
pyarrow==25.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.1
pyasyncore==1.0.2
pycairo==1.27.0
pycares==5.0.1
pycparser==3.0
pycryptodomex==3.20.0
pycups==2.0.4
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.3
pydot==4.0.1
pyee==13.0.0
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-ods==0.6.0
pyexcel-text==0.2.7.1
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
pygexf==0.2.2
pygit2==1.19.2
PyGithub==2.6.1
Pygments==2.19.2
PyGObject==3.56.1
pygraphviz==1.14
pyinotify==0.9.6
PyJWT==2.11.0
pylibacl==0.7.2
pylsqpack==0.3.23
pymetasploit3==1.0.6
PyNaCl==1.5.0
PyOpenGL==3.1.10
pyOpenSSL==26.0.0
pyparsing==3.3.2
pypdf==6.9.2
pyperclip==1.11.0
pyppeteer==1.0.1
PyQt5==5.15.11
PyQt5_sip==12.17.2
PyQt6==6.11.0
PyQt6_sip==13.11.1
pyqtgraph==0.14.0
pyregfi==1.0.1.0
PySide6==6.10.3
pysmbc==1.0.25.1
PySocks==1.7.1
pyspnego==0.10.2
pytest==9.0.2
python-apt==3.1.0
python-dateutil==2.9.0
python-docx==1.2.0
python-dotenv==1.2.1
python-emailahoy3==0.1.3
python-gitlab==8.0.0
python-magic==0.4.27
python-magic-ahupp==0.4.13
python-memcached==1.60
python-multipart==0.0.22
python-pptx==0.6.18
python-whois==0.9.3
python3-openid==3.2.0
pytsk3==20250801
pytz==2025.2
pyu2f==0.1.5
pyxdg==0.28
PyYAML==6.0.3
pyzipper==0.3.6
pyzmq==27.1.0
redis==6.4.0
referencing==0.36.2
regex==2025.9.18
repoze.lru==0.7
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.26.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.9.4
Routes==2.5.1
rpds-py==0.30.0
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.15
s3transfer==0.14.0
sarge==0.1.7.post1
scikit-learn==1.8.0
scipy==1.16.3
secure==1.0.1
sentry-sdk==2.22.0
service-identity==24.2.0
setproctitle==1.3.7
setuptools==78.1.1
sgmllib3k==1.0.0
shiboken6==6.10.3
shiboken6-generator==6.10.3
simplejson==3.20.2
six==1.17.0
skia-pathops==0.9.2
smart_open==7.5.1
smmap==6.0.0
sniffio==1.3.1
social-auth-app-django==5.4.3
social-auth-core==4.8.5
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.45
sqlparse==0.5.5
starlette==0.50.0
stone==3.3.9
streamlit==1.63.0
swagger-spec-validator==3.0.4
sympy==1.14.0
tables==3.11.1
tabulate==0.9.0
tblib==3.2.2
tempora==5.7.0
tenacity==9.1.4
terminaltables3==4.0.0
texttable==1.7.0
threadpoolctl==3.1.0
tinycss2==1.5.1
titlecase==2.4.1
tld==0.13
toml==0.10.2
toolz==1.1.0.post1
torbrowser-launcher==0.3.9
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
truststore==0.10.4
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
uc-micro-py==2.0.0
ufoLib2==0.18.1
uharfbuzz==0.53.3
unicodedata2==17.0.1
uritemplate==4.2.0
urllib3==2.6.3
urwid==3.0.4
uvicorn==0.38.0
uvloop==0.22.1
vaderSentiment==3.3.2
vine==5.1.0
vinetto==0.9.15
vobject==0.9.9
vulners==2.2.3
wadllib==2.0.0
wapiti-swagger==0.1.9
wapiti3==3.2.10
watchdog==6.0.0
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
WebOb==1.8.9
websockets==15.0.1
Werkzeug==3.1.5
wheel==0.46.3
witnessme==1.5.0
wordcloud==1.9.4+dfsg
wrapt==2.1.1
wsproto==1.3.2
wxPython==4.2.4
xattr==1.3.0
xdg==5
xlrd==2.0.2
XlsxWriter==3.1.9
xlwt==1.3.0
xmltodict==0.13.0
yara-python==4.5.4
yarl==1.23.0
zc.lockfile==4.0
zict==3.0.0
zipp==3.23.0
zopfli==0.4.1
zstandard==0.25.0
zstd==1.5.7.3
